div.infobox {
	border: 1px solid #B1B1B1;
	border-radius: 10px 10px 10px 10px;
	margin: 5px 0 30px;
	padding: 0 6px 0 6px;
}
div.outerbox {
	padding:20px;
}
div.grnav {
	background: #fff;
    color: #000000;
	border: 1px solid #B1B1B1;
	border-radius: 6px 6px 6px 6px;
    font-weight: bold;
    height: 22px;
    margin: -38px 0 0;
    padding: 5px 5px;
    width: 100px;
}    
dl.infolist dd {
    font-size: 92%;
    margin-bottom: 12px;
}
dt:after {
    content: ":";
}
dt {
    margin-bottom: 2px;
}
dt {
    clear: left;
    float: left;
    text-align: left;
    width: 80px;
}
span.metanav {
    font-size: 11px;
}